button {
   width: 100%;
   height: 54px;
   padding: 18px;
   border-radius: 60px;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: 0.2s;
   .button-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1em;
   }
   &:hover {
       cursor: pointer;
    }
    &.btn-primary {
        background-color: var(--primary-color);
        color: var(--color-white-100);
        font-weight: 700;
        &:hover {
            background-color: var(--primary-color-dark);
        }
   }
   &.btn-secondary {
       background-color: transparent;
       border: 1px solid var(--color-content-500);
       color: var(--color-content-500);
       font-weight: 700;
       &:hover {
           cursor: pointer;
           background-color: var(--background-color-dark);
       }
   }
   .btn--loader {
        display: none;
   }
   &[data-loading="1"] {
        .btn--text {
            display: none;
            height: 65%;
        }
        .btn--loader {
            display: block;
            img {
                fill: green;
                color: red;
                height: 44px;
                object-fit: contain;
            }
        }
    }
    &:disabled {
        opacity: 0.5;

        &:hover {
            cursor: not-allowed;
        }
    }

    &.btn-primary {
        &:not(:disabled):hover {
            cursor: pointer;
            background-color: var(--primary-color-dark);
        }

        &[data-loading='1'] {
            &:hover {
                cursor: not-allowed;
                background-color: var(--primary-color);
            }
        }
    }

    &.btn-secondary {
        &:not(:disabled):hover {
            cursor: pointer;
            background-color: var(--background-color-dark);
        }
    }
}